USE [Digital_350]
GO
/****** Object:  Table [dbo].[digital_table]    Script Date: 12/18/2021 11:37:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[digital_table](
	[id] [int] NOT NULL,
	[author] [nchar](20) NULL,
	[title] [nchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[shortDescription] [nvarchar](max) NULL,
	[date] [datetime] NULL,
	[image] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
